@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


html, body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}